export(getInitialN)
export(sigmoid_length)
exportClasses(MizerParams)
exportClasses(MizerSim)
exportMethods(MizerParams)
exportMethods(MizerSim)
exportMethods(getBiomass)
exportMethods(getCommunitySlope)
exportMethods(getEForReproAndGrowth)
exportMethods(getEGrowth)
exportMethods(getESpawning)
exportMethods(getFMort)
exportMethods(getFMortGear)
exportMethods(getFeedingLevel)
exportMethods(getM2)
exportMethods(getM2Background)
exportMethods(getMeanMaxWeight)
exportMethods(getMeanWeight)
exportMethods(getN)
exportMethods(getPhiPrey)
exportMethods(getPredRate)
exportMethods(getProportionOfLargeFish)
exportMethods(getRDD)
exportMethods(getRDI)
exportMethods(getSSB)
exportMethods(getZ)
exportMethods(plotBiomass)
exportMethods(plotFMort)
exportMethods(plotFeedingLevel)
exportMethods(plotM2)
exportMethods(plotNSpectra)
exportMethods(project)
exportMethods(summary)
import(ggplot2)
import(plyr)
